@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h2>Video Game Rentals</h2>
</div>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Game List", "Index", "Games")</p>
<p>@Html.ActionLink("Developer List", "Index", "Developers")</p>
<p>@Html.ActionLink("Account", "Index", "Account")</p>