@{
  Layout = "_Layout";
}

@using GameRental.ViewModels

@model LoginViewModel

<div class="jumbotron">
  <h2>Login with your account</h2>
</div>

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.TextBoxFor(m => m.Password)

  <input type="submit" value="Log in" class="btn btn-dark"/>
}