@{
  Layout = "_Layout";
}

@using GameRental.Models;
@model List<GameRental.Models.Game>;

<div class="jumbotron">
  <h2>Search Results</h2>
</div>

@if (@Model.Any())
{
  <ul>
    @foreach (Game game in Model)
    {
      <li>
        @Html.ActionLink($"{game.Title}", "Details", new { id = game.GameId })
      </li>
    }
  </ul>
}
else
{
  <h3>No games found.</h3>
}

<p>@Html.ActionLink("Add new game", "Create")</p>