@{
  Layout = "_Layout";
}

@model GameRental.Models.Developer

<div class="jumbotron">
  <h2>Add a game</h2>
</div>

<h4>Add a game to this developer: @Html.DisplayFor(model => model.Name)</h4>

@if (ViewBag.ValidGames.Count == 0)
{
  <p>All current games have been added to this developer.</p>
}
else
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.DeveloperId)

    @Html.Label("Select Game")
    @Html.DropDownList("GameId")

    <input type="submit" value="Save" />
  }
}