@{
  Layout = "_Layout";
}

@using GameRental.Models;
@model List<GameRental.Models.Developer>;

<h1>Categories</h1>

@if (@Model.Any())
{
  <ul>
    @foreach (Developer developer in Model)
    {
      <li>
      @Html.ActionLink($"{developer.Name}", "Details", new { id = developer.DeveloperId })
      </li>
    }
  </ul>
}
else
{
  <h3>No developers have been added yet!</h3>
} 

@using (Html.BeginForm("Search", "Developers"))
{
  @Html.TextBox("search")
  <input type="submit" value="Search" class="btn btn-dark">
}

<p>@Html.ActionLink("Add new developer", "Create")</p>